# Lab: Simulation, 1/14,000,605

As you learned in the lecture, **simulation** is an extremely powerful tool to estimate probabilities by replicating the reality and determining the successful observations.

In this lab, we will try some increasingly interesting simulations and explore the possibilities with this tool.

(Wonder why the title is 1/14,000,605? See Avengers: Infinity War at [https://www.youtube.com/watch?v=eGKPfZTXHsc](https://www.youtube.com/watch?v=eGKPfZTXHsc))

## Group

Edit the next Python cell to add information about who you're working within your lab section:

In [14]:
# First, meet your CAs and TA if you haven't already!
# ...first name is enough, we'll know who they are! :)
ta_name = "vivek"
ca1_name = "talia"
ca2_name = "charlie"
ca3_name = "tanvi"


# Also, make sure to meet your team for this lab! Find out their name, what major they're in,
# and learn something new about them that you never knew before!
partner1_name = ""
partner1_netid = ""
partner1_major = ""

partner2_name = ""
partner2_netid = ""
partner2_major = ""

partner3_name = ""
partner3_netid = ""
partner3_major = ""

## Table of Contents <a id='toc'></a>

**Use the Outline view (View > Command Palette > Type "outline") for navigation.**

* Examples
* Puzzle 1
    * Puzzle 1.1
    * Puzzle 1.2
* Puzzle 2
    * Puzzle 2.1
    * Puzzle 2.2
    * Puzzle 2.3 
* Puzzle 3
    * Puzzle 3.1
    * Puzzle 3.2
    * Puzzle 3.3
    * Puzzle 3.4
* Puzzle 4
    * Puzzle 4.1
    * Puzzle 4.2
    * Puzzle 4.3
* Extra Credit
* Finale

## Example 1: Random Seed **(IMPORTANT: PLEASE READ AND RUN THIS EXAMPLE)**

A random seed is a number used to initialize a pseudorandom number generator. If we use the same seed, we will get the same random number sequence.

In this lab, we will use the random seed to help you check the simulations' output. 

**Do NOT delete the line that set the seed to 107 in any puzzles.**

You will get a different random number sequence and will lose points as a result.

In [15]:
import pandas as pd
import random as rd
rd.seed(107)
print(rd.random())
print(rd.random())
print(rd.random())
rd.seed(107)
print(rd.random())
print(rd.random())

0.24648195966935815
0.5812899303907797
0.9722810069256511
0.24648195966935815
0.5812899303907797

## Example 2: Simulation of Two Dice (You can go to part 1 directly if you are confident.)

Suppose we roll two different **fair six-sided dice** at the same time.  One die is colored **blue** while the other is colored **red**.

Simulate the above situation **1,000** times and store the observations of the value of the blue die and the red die in `df0`.

In [16]:
# Step 0: Set the random seed for replicability
rd.seed(107)
# Step 1: Start with an empty list to store the simulated data
data = []
# Step 2: Implement the simulation with a for-loop
for i in range(1000):
    blue = rd.randint(1, 6)
    red = rd.randint(1, 6)
    d = {"blue": blue, "red": red}
    data.append(d)    
# Step 3: Convert the list of simulated data to a dataframe
df0 = pd.DataFrame(data)
# Sanity check: Show a few random rows
df0.sample(5)

     blue  red
343     6    3
872     6    1
373     5    3
255     2    2
94      3    2

## Example 3: Probability Estimation of a Two-Dice Event

Using the above simulated data, we can estimate the probability that **the blue die lands on 4 or the red die lands on 2**.

In [17]:
# Numerator:    sum only counts the number of TRUEs.
# Denominator:  len counts both TRUEs and FALSEs.
#               You can try len((df0['blue'] == 4) | (df0['red'] == 2)).
p03 = sum((df0['blue'] == 4) | (df0['red'] == 2))/len(df0)
print(p03)
# An alternative approach is to subset the success dataframe and find its length.
df0_success = df0[(df0['blue'] == 4) | (df0['red'] == 2)]
p03_alt = len(df0_success)/len(df0)
print(p03_alt)

0.318
0.318

## Example 4: Exact Probability of a Two-Dice Event

We can also calculate the exact probability that **the blue die lands on 4 or the red die lands on 2**, which is not far from our estimate in Example 3.

In [18]:
p03_exact = 1/6 + 1/6 - 1/36
p03_exact

0.3055555555555555

# Puzzle 1: Rolling Three Dice

## Puzzle 1.1: Simulation of Three Dice

Suppose we roll three different **fair six-sided dice**: a **white**, a **red**, and a **blue**.

Simulate the above situation **1,000** times and store the observations in `df1`.

Hint (double-click this cell to see it): <span style="color:#ffffff00">see Example 2. Try not to copy and paste so that you can learn line by line.</span>

In [28]:
rd.seed(107)
data=[]
for i in range(1000):
    blue = rd.randint(1, 6)
    red = rd.randint(1, 6)
    white = rd.randint(1, 6)
    d = {"blue": blue, "red": red,"white": white}
    data.append(d)    
df1 = pd.DataFrame(data)
df1.sample(5)

     blue  red  white
364     2    6      1
17      1    4      6
445     1    1      6
275     4    2      5
392     4    3      2

## Puzzle 1.2: Probability Estimation of a Three-Dice Event

Estimate the probability that the **sum of all three dice is exactly 9**. Store the result in `p12`.

Hint (double-click this cell to see it): <span style="color:#ffffff00">see Example 3. You can use .sum(axis=1) to obtain the sum of all three dice row by row.</span>

In [38]:
df1["sum"]=df1["white"]+df1["red"]+df1["blue"]
p12=len(df1[df1["sum"]==9])/len(df1["sum"])
p12

In [40]:
## == TEST CASES for Part 1 ==
# - This read-only cell contains test cases for your previous cell(s).
# - If this cell runs without any error, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell(s), make changes, and RE-RUN your code and then this cell.
import math
assert(len(df1) == 1000), "Make sure your df1 has exactly 1,000 observations"
assert(math.isclose(p12, 127/1000)), "Make sure you set the seed to 107 and estimate the correct probability in p12"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

# Puzzle 2: Fliping Four Coins

## Puzzle 2.1: Simulation of Four Coins

Suppose we flip **four fair coins**, one coin at a time and one after another. Each coin has two sides: **"head" (defined as `1`)** and **"tail" (defined as `0`)**.

Simulate the above situation **50,000** times and store the observations in `df2`.

Hint (double-click this cell to see it): <span style="color:#ffffff00">see Example 2. Try not to copy and paste so that you can learn line by line.</span>

In [63]:
rd.seed(107)
data=[]
for i in range(50000):
    one = rd.randint(0, 1)
    two = rd.randint(0, 1)
    three = rd.randint(0, 1)
    four = rd.randint(0, 1)
    d = {"one": one, "two": two,"three": three,"four":four}
    data.append(d)    
df2 = pd.DataFrame(data)
df2.sample(5)

       one  two  three  four
38464    0    0      0     0
30344    0    0      0     1
9793     1    0      1     1
36218    1    0      0     1
20074    0    0      0     1

## Puzzle 2.2: Probability Estimation of a Four-Coins Event

Estimate the probability that **the first two coin flips are both heads and last two coin flips are both tails**. Store the result in `p22`.

Hint (double-click this cell to see it): <span style="color:#ffffff00">see Example 3.</span>

In [48]:
p22 = len(df2[(df2.one==1)&(df2.two==1)&(df2.three==0)&(df2.four==0)])/len(df2.one+df2.two+df2.three+df2.four)
p22

0.06382

## Puzzle 2.3: Probability Estimation of Another Four-Coins Event

Estimate the probability that **at most two coin flips are heads**. Store the result in `p23`.

Hint (double-click this cell to see it): <span style="color:#ffffff00">see Example 3. You can use .sum(axis=1) to obtain the "sum" of four coins row by row.</span>

In [66]:
df2["sum"]=df2["one"]+df2["two"]+df2["three"]+df2["four"]

p23=len(df2[df2["sum"]<=2])/len(df2["sum"])
p23

0.68536

In [67]:
## == TEST CASES for Part 2 ==
# - This read-only cell contains test cases for your previous cell(s).
# - If this cell runs without any error, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell(s), make changes, and RE-RUN your code and then this cell.
import math
assert(len(df2) == 50000), "Make sure your df2 has exactly 50,000 observations"
assert(math.isclose(p22, 3191/50000)), "Make sure you set the seed to 107 and estimate the correct probability in p22"
assert(math.isclose(p23, 34268/50000)), "Make sure you set the seed to 107 and estimate the correct probability in p23"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

# Puzzle 3: Avengers: Infinity War

## Puzzle 3.1: Simulation of the Battle on Titan

Suppose the **power level** of the characters engaged in the battle on Titan can be modelled as follows:

1. Thanos:  a random integer between 80 to 120.
2. Strange: a random integer between 10 to 20.
3. Stark:   a random integer between 10 to 16.
4. Parker:  a random integer between 6 to 12.
5. Mantis:  a random real number between 0.8 to 1 (inclusive). The code for Mantis is given.
6. Drax:    a random integer between 8 to 16.
7. Nebula:  a random integer between 8 to 16.
8. Quill:   a random integer between -10 to 10.

Simulate the power levels **100,000** times **in the order listed above** and store the observations in `df3`.

Hint (double-click this cell to see it): <span style="color:#ffffff00">see Example 2. Try not to copy and paste so that you can learn line by line.</span>

In [76]:
rd.seed(107)
data = []
for i in range(100000):
    thanos = rd.randint(80,120)
    strange = rd.randint(10,20)
    stark = rd.randint(10,16)
    parker = rd.randint(6,12)
    mantis = rd.uniform(0.8, 1)
    drax = rd.randint(8,16)
    nebula = rd.randint(8,16)
    quill = rd.randint(-10,10)
    d={"thanos":thanos,"strange":strange,"stark":stark,"parker":parker,"mantis":mantis,"drax":drax,"nebula":nebula,"quill":quill}
    data.append(d) 
df3 = pd.DataFrame(data)
df3.sample(5)

       thanos  strange  stark  parker    mantis  drax  nebula  quill
98892     109       15     15       6  0.823756     9      11      9
67730     102       10     11      12  0.981192     9      11     -9
92235     116       11     11       8  0.934085    16      14      1
80977     101       17     11      11  0.970431    16      15     -3
98316      91       19     13      10  0.972454    14      15      2

## Puzzle 3.2: Probability Estimation of Winning the Battle

Suppose the superheroes win when
$$
\mathrm{Strange} +\mathrm{Stark} +\mathrm{Parker} +\mathrm{Drax} +\mathrm{Nebula} +\mathrm{Quill} \ge \mathrm{Mantis} \times \mathrm{Thanos}.
$$
Estimate the probability that **the superheroes win**. Store the result in `p32`.

Hint (double-click this cell to see it): <span style="color:#ffffff00">see Example 3. You can use df[list].sum(axis=1) to obtain the row sum of columns with name in list.</span>

In [93]:
hero = ["Strange", "Stark", "Parker", "Drax", "Nebula", "Quill"]
df3["shero"]=df3["strange"]+df3["stark"]+df3["parker"]+df3["drax"]+df3["nebula"]+df3["quill"]
df3["villain"]=df3["mantis"]*df3["thanos"]
p32 = len(df3[df3.shero>=df3.villain])/len(df3)
p32

0.01717

## Puzzle 3.3: Conditional Probability Estimation of Winning the Battle

Recall the superheroes win when
$$
\mathrm{Strange} +\mathrm{Stark} +\mathrm{Parker} +\mathrm{Drax} +\mathrm{Nebula} +\mathrm{Quill} \ge \mathrm{Mantis} \times \mathrm{Thanos}.
$$
Estimate the probability that **the superheroes win given that $\mathrm{Mantis} < 0.9$**. Store the result in `p33`.

Hint (double-click this cell to see it): <span style="color:#ffffff00">use Bayes' rule (or definition of conditional probability) on top of the code in Puzzle 3.2.</span>

In [100]:
dfm=df3[df3.mantis<0.9]
dfm["mul"]=dfm.mantis*dfm.thanos
p33=len(dfm[dfm.shero>=dfm["mul"]])/len(dfm)
p33

C:\Users\Dhruv\AppData\Local\Temp\ipykernel_9540\809827899.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfm["mul"]=dfm.mantis*dfm.thanos

0.03127697588982796

In [101]:
## == TEST CASES for Part 3 ==
# - This read-only cell contains test cases for your previous cell(s).
# - If this cell runs without any error, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell(s), make changes, and RE-RUN your code and then this cell.
import math
assert(len(df3) == 100000), "Make sure your df3 has exactly 100,000 observations"
assert(math.isclose(p32, 1717/100000)), "Make sure you follow the instruction in Puzzle 3.1 and estimate the correct probability in p32"
assert(math.isclose(p33, 1558/49813)), "Make sure you follow the instruction in Puzzle 3.1 and estimate the correct probability in p33"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

## Puzzle 3.4: ‚ùì Usefulness of Simulation ‚ùì 

Can you find the exact probabilities in Puzzle 3.2/3.3? What are the advantage(s) of simulation?

Yes u can the advantages to a simulation is that is show how the values differ from simulation to simulation

# Puzzle 4: Beyond Probability Estimation

## Puzzle 4.1: Simulation of Points on a Unit Square

Imagine we have a **unit square** with the corners at $(0,0)$, $(0,1)$, $(1,1)$ and $(1,0)$, respectively.

Simulate **100,000** random points on this square and store the observations in `df4`.

Hint (double-click this cell to see it): <span style="color:#ffffff00">see Example 2. The x-coordinate and y-coordiante of a random point can be generated by rd.random().</span>

In [102]:
rd.seed(107)
data=[]
for i in range(100000):
    x = rd.random()
    y = rd.random()
    d = {"x": x, "y": y}
    data.append(d)    
df4 = pd.DataFrame(data)
df4.sample(5)

              x         y
13359  0.843643  0.614806
70503  0.352292  0.645497
7171   0.928424  0.857229
39829  0.393694  0.032907
67579  0.043237  0.619899

## Puzzle 4.2: Estimation of $\pi$

Now, we incribe a **circle** (with radius $0.5$) in the previous square. The circumcenter is $(0.5, 0.5)$. Clearly, a point would fall inside the circle if
$$
(x-0.5)^2 +(y-0.5)^2 \le 0.5^2.
$$
On the other hand, we have the following relationship:
$$
\frac{\text{no. of pts inside the circle}}{\text{no. of pts inside the square}}
\approx \frac{\text{area of the circle}}{\text{area of the square}}
= \frac{0.5^2 \pi}{1} = \frac{\pi}{4}.
$$
Rearranging the equation, we can estimate $\pi$ by
$$
\pi \approx \frac{4 \times \text{no. of pts inside the circle}}{\text{no. of pts inside the square}}.
$$

Estimate $\pi$ using the above relationship. Store the result in `pie`.

Hint (double-click this cell to see it): <span style="color:#ffffff00">see Example 3. 
The number of points inside the circle can be found by checking the equation (x-0.5)^2 +(y-0.5)^2 <= 0.5^2.</span>

In [105]:
pie = 4*sum((df4["x"]-0.5)**2+(df4["y"]-0.5)**2<=0.5**2)/len(df4)
pie

3.14192

In [107]:
## == TEST CASES for Part 4 ==
# - This read-only cell contains test cases for your previous cell(s).
# - If this cell runs without any error, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell(s), make changes, and RE-RUN your code and then this cell.
import math
assert(len(df4) == 100000), "Make sure your df4 has exactly 100,000 observations"
assert(math.isclose(pie, 314192/100000)), "Make sure you use the correct equation(s) in Puzzle 4.2"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

üéâ All tests passed! üéâ

## Puzzle 4.3: ‚ùì Beyond Probability Estimation ‚ùì

 Puzzle 4.2 presents an example where we use simulation for estimating quantity other than probability. Can you name other application(s) of simulation?

Hint (double-click this cell to see it): <span style="color:#ffffff00">check https://en.wikipedia.org/wiki/Monte_Carlo_method#Applications if you have no clues at all.</span>

We can estimate the amount of tension needed to snap a wire in half based on the masses on the wire

## Extra Credit: Animation of the Estimation of $\pi$

Try to replicate simulation_pi.gif in the directory! A working example can be found at https://commons.wikimedia.org/wiki/File:Pi_30K.gif. Here are a few things you may want to change in the working example:

1. Delete the lines with `rcParams` and `ani.save()`. Saving the animation needs extra software, which is not required for extra credit.
2. Add an extra argument `repeat=False` to `animation.FuncAnimation()`. This avoids infinite loop of your animation when you debug;  
see https://matplotlib.org/3.5.1/api/_as_gen/matplotlib.animation.FuncAnimation.html.
3. After `animation.FuncAnimation()`, add two lines: `from IPython.display import HTML` and `HTML(ani.to_jshtml())`.  
This display your animation when you run the code; see https://stackoverflow.com/questions/25333732/matplotlib-animation-not-working-in-ipython-notebook-blank-plot.
4. Change `pts = np.random.uniform(low=0, high=1, size=(2, n))` to `pts = df4.iloc[:n].transpose().to_numpy()`.  
It is a bad idea to simulate the points again for every frame in the animation.
5. Change the conditions in `circ` and `out_circ`, which correspond to the points inside and outside the circle respectively.  
You need to change them because the working example is for 1/4 of a unit circle only.
6. Delete `circle = mpatches.Wedge((0, 0), 1, 0, 90,  color=gray)` and `ax.add_artist(circle)`.  
We do not require the boundary of the circle for extra credit. However, you may modify them instead if you want.
7. Change the argument `markersize` in `plt.plot()` if you want larger dots in the animation.
8. Change `nvec`. simulation_pi.gif uses $n=400, 800, \ldots, 10000$.

# Finale!

You're almost done -- congratulations!

You need to do two more things:

1.  Save your work. To do this, go to File -> Save All

2.  After you have saved, exit this notebook and follow the webpage instructions to commit this lab to your Git repository!